[2020-06-26 13:01] H4LL opened #2 "Creation of AriesWorker for syft send/rcv messages over Aries channel."
## Description

We'd like to extend the Baseworker class to use the basic messaging service in the Aries controller. We are beginning this below. The plan is to turn the binary into a string so that it can be communicated over the Aries Basic Message protocol. We're trying to send a syft tensor, x, over the channel. If the other side receives it, itll be able to interpret it with it's own Basework

[2020-07-17 15:59] wip-abramson opened #3 "Attachment Protocol"
## Feature Description
Enable attachments to be sent using a custom aries protocol over DIDComm. Extend the controller to handle this new protocol.

## Is your feature request related to a problem?
This is related to work exploring DIDComm for ML messages

[2020-07-17 17:08] wip-abramson opened #4 "Aries Proof Api"
## Feature Description
The aries basic controller library needs extending to cover the Proofs Api.

## Is your feature request related to a problem?
No

## What alternatives have you considered?
A clear and concise description of any alternative solutions or features you've considered.

## Additional Context
If you run ./manage start in libs/aries-basic-controller then navigate to http://localhost

[2020-07-22 12:39] wip-abramson opened #6 "Complete Connections Api Notebook"
## Where?
The connections_controller.py needs a notebook that demonstrates it's full functionality

## Who?
Any developer looking to learn how to control a Hyperledger Aries aca-py agent

## What?
A working notebook with relevant markdown explainations

[2020-07-22 13:12] wip-abramson opened #7 "Admin Api Authentication for Basic Controller"
## Feature Description
Aca-py agents allow the admin api that is used to control it to secured - https://github.com/hyperledger/aries-cloudagent-python#security. This feature needs to be enabled in the controller.

## Is your feature request related to a problem?
Currently the controller only works with the admin-api in unsecured mode.

[2020-08-13 14:04] wip-abramson commented on #4
Work in progress under feature/basic-controller

[2020-09-03 14:45] #6 closed

[2020-09-03 14:45] #4 closed

[2020-09-08 13:07] #7 closed

[2020-09-08 17:02] wip-abramson opened #10 "Refine Notebooks into Coherent Tutorial"
## Where?
Additional notebooks need to be added. Demo should be converted to tutorial. Attempt similar to the PySyft style.

## What?
The tutorial should take someone with no understanding of SSI through to being able to use the aries-basic-controller library in there own projects.

[2020-09-08 17:03] wip-abramson opened #11 "Publish aries-basic-controller to PyPip"
Should publish as V0.1.0

[2020-09-08 17:55] TTitcombe opened #12 "Clearer posting of jupyter links"
## Description
running `./manage up` spams the terminal with a lot of information which, while useful, hides links to localhost needed to run the demos.

We should either reduce the amount of information being logged, or otherwise post the links in a more permanent and obvious position (through I mechanism I am yet to determine)

## Are you interested in working on this improvement yourself?
Sure

[2020-09-08 17:59] TTitcombe opened #13 "Create generic Dockerfile"
## Feature Description
Create a generic PyDentity Dockerfile that can be copied to any repository without breaking functionality.
This Dockerfile should have the basic controller installed.

## Is your feature request related to a problem?
The current Dockerfile in `libs/aries-basic-controller` installs the controller as a local pip install. Therefore, it must remain in the basic controller direct

[2020-09-08 19:49] lohanspies commented on #12
Hey @TTitcombe - have a look at running this docker cmd after the notebook containers started.
`docker exec -it aries-stagingnet_alice-notebook_1 jupyter notebook list`
Currently running servers:
http://0.0.0.0:8888/?token=1e426050323d9c83c445a5b2e8dbade5faa2abe03b437a48 :: /workspace

As you can see it will output the notebook URL for the container. Might be helpful.

[2020-09-09 01:18] H4LL opened #14 "Create Tailored Docker Env for Opus Demo"
## Feature Description
The current manage and compose files for the Opus demo environment are based on the 'alice' and 'bob' dockerfiles. It'd be great if it was 'opus' and 'alice'.

The containers needed in the environment are;

- Opus Business Logic Notebook:8889
- Opus Agent:8051
- Alice Notebook:8888
- Alice Agent:8021
- Ledger Browser:9000

## Is your feature request related to a problem?
Thi

[2020-09-09 01:20] H4LL commented on #13
It may be good to scope this for the PyDentity sandpit which will contain every container which is involved in a demonstration. That way we can hone environments for specific demos also

[2020-09-10 15:19] ramesht007 commented on #10
hey, @wip-abramson I want to work on this issue 🙂

[2020-09-10 16:05] H4LL opened #15 "Communications between messages_handler and local variables"
## Description
We want to be able to use the payload of the basic message protocol. Right now this is printed but it is difficult to place into a persistent variable;

[code]

When we call this function and print USER we still contains 'empty'. We need a way to bridge the communications gap between messages_handler and the USER variable.

## Are you interested in working on this improvement yourse

[2020-09-12 17:51] TTitcombe opened #16 "Create generalised sandbox for multiple agents"
## Description
The current `docker-compose/manage/create_connection.py` setup spins-up two agents. We should generalise this process so that any number of agents can be created and connected with each other. To add a new agent manually requires duplicating the code N times, which doesn't scale easily for large environments and is prone to mistakes.

A sandbox controller should have to define ports

[2020-09-12 18:22] TTitcombe opened #17 "Create Tailored Docker Env for PryVote Demo"
## Feature Description
The current manage and compose files for the PryVote demo environment are based on the 'alice' and 'bob' dockerfiles. We need more agents to demonstrate voting

The containers needed in the environment are;

    Red vote counter notebook:8889      (better names than Red, Blue, Yellow??)
    Red Agent:8051
    Blue vote counter notebook:8888
    Blue Agent:8021
    Yellow vot

[2020-09-12 18:42] TTitcombe opened #18 "Add aries-basic-controller unit tests"
## Description
Unit test the simple behaviour of aries-basic-controller.
Create a `tests` folder to store them in

## Type of Test
- [X] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [ ] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [ ] **Regression test** (e.g. checking if by adding or removing a modul

[2020-09-12 18:44] TTitcombe opened #19 "Setup CI"
## Description
Use github actions to setup unit testing of branches

## Type of Test
- [] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [ ] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [ ] **Regression test** (e.g. checking if by adding or removing a module of code allows other systems to continue to f

[2020-09-14 11:41] #15 closed

[2020-09-14 11:55] wip-abramson commented on #10
Hey!
That's great. So I am currently working on this in the feature/getting-started branch (sorry should have assigned myself). However, it would be awesome to have your help reviewing the material. If you could check out the tutorial and work through it, it would be really valuable.
Cheers :)

[2020-09-17 11:16] wip-abramson commented on #18
This would be great to have. I spoke to the ACA-Py folks and to test we have to be running a real ACA-Py instance. They generally run tests within some Docker environment.

[2020-09-17 11:20] wip-abramson opened #21 "Implement Revocation API included in ACA-Py 0.5.5"
## Feature Description
Revocation enables an issuer to revoke credentials they have issued at some point in the future. The ACA-Py folks have done a lot of work to harden this API and it will be included in v0.5.5 which is being released very soon.

All endpoints should be implemented and a notebook tutorial is written to document how to use the API to issue revocable credentials and then revoke t

[2020-09-19 15:02] wip-abramson opened #22 "Research Single Sign on Flows using the Basic Controller"
## What?
There are a number of efforts to implement Single Sign on using decentralised identifiers and/or Verifiable Credentials. It would be great to have an understanding of the different design choices involved, including example implementations of them if possible utilising the basic controller package.

Here is research paper on the topic: https://arxiv.org/abs/2006.04754

BC Gov have a repo

[2020-09-20 15:01] vineeth14 commented on #3
I think this can be closed. The attachment protocol is done, right?

[2020-09-20 18:02] wip-abramson commented on #3
Needed some work to be merged. All sorted now

[2020-09-20 18:02] #3 closed

[2020-09-28 12:43] ramesht007 commented on #10
Thanks @wip-abramson

[2020-10-05 09:56] wip-abramson commented on #10
Hey @ramesht007 I have merged this branch into master, but before I close this issue I would love to wait until you have been through the material (if you intent to do that).

Let me know, it would be super useful to get some outside review on these!

[2020-10-05 09:58] ramesht007 commented on #10
Sure @wip-abramson, thanks for asking, i would love to help you out.

[2020-10-05 10:00] wip-abramson commented on #10
Great! This was the PR - https://github.com/OpenMined/PyDentity/pull/24

But you are best off running through the tutorials on master. I merged before the conference.

Thank you

[2020-10-05 10:12] wip-abramson commented on #14
@H4LL is this done?

[2020-10-05 10:13] wip-abramson commented on #12
Yeah, we cannot easily reduce the logs because a lot of it is from the agent. But agree it would be nice have a better solution for this

[2020-10-05 10:21] wip-abramson commented on #11
This is complete and published here - https://pypi.org/project/aries-basic-controller/

[2020-10-05 10:21] #11 closed

[2020-10-05 11:31] ramesht007 commented on #10
ok thanks

[2020-10-05 11:32] wip-abramson commented on #17
Generalise the create_connection.py script as part of this issue

[2020-10-05 11:50] wip-abramson opened #27 "Implement Out of Band Protocol in the Basic Controller"
## Feature Description
The protocol is described here - https://github.com/hyperledger/aries-rfcs/tree/master/features/0434-outofband and is currently implemented in ACA-Py. We just need to extend the api in the controller to include this.

A notebook to demonstrate this working would be good.

## Is your feature request related to a problem?
Currently, there is no way to scan a QrCode for an agen

[2020-10-05 12:02] wip-abramson opened #28 "Implement Full Stack Doctors in Training Employing Hospital"
## Description
The doctors in training flow is implemented in notebooks under projects/doctors-in-training but there is currently no UI. It would be great to pick one of the agents in this flow and develop a full stack application for this agent that includes verification and issuance of credentials.

## Why?
This would test out the aries fullstack starter repository we are currently developing an

[2020-10-05 12:11] wip-abramson opened #29 "Evaluate DIDComm Properties: Security, Privacy, Usability"
## What?
DIDComm is a protocol under standardisation at DIF - https://github.com/decentralized-identity/didcomm-messaging

Using aries-basic-controller we can easily spin up agents and communicate over DIDComm. It would be good to use WireShark or similar to see exactly what is getting sent over the wire and evaluate the privacy, security and usability implications of this.

## How long?
A month

[2020-10-05 12:52] wip-abramson commented on #28
Hey @vineeth14 here is the repo - https://github.com/wip-abramson/aries-acapy-fullstack-starter

[2020-10-06 14:11] wip-abramson opened #30 "Evaluate Absa Aries libvc Rust Library"
## What?
Digging into this codebase - https://github.com/AbsaOSS/libvcx. Which eventually has plans to become a rust package for aries agents. If/when this happens it could make embedding aries capabilities into Syft a lot easier.

## How long?
No more than a month.

[2020-10-08 10:21] wip-abramson commented on #29
Really cool paper from 1981 that basically is DIDComm today as far as I can see. https://dl.acm.org/doi/10.1145/358549.358563

[2020-10-08 11:18] wip-abramson commented on #29
DIDComm spec - https://identity.foundation/didcomm-messaging/spec/

[2020-10-08 11:30] wip-abramson opened #31 "Implement Introduction Api in Basic Controller"
## Description
The introduction protocol as defined here - https://github.com/hyperledger/aries-rfcs/tree/master/features/0028-introduce. Is implemented in aca-py. We just need to extend basic controller api to include the endpoints aca-py defines. Specifically /connections/{conn_id}/start-introduction

Should be fairly straightforward.

A notebook tutorial for this protocol should be added to the

[2020-10-08 11:52] wip-abramson opened #32 "Implement Action Menu API's in the Basic Controller"
## Description
The action menu protocol - https://github.com/hyperledger/aries-rfcs/tree/master/features/0509-action-menu has been implemented in ACA-Py. We need to extend the basic controller to cover these endpoints so the basic controller can use this protocol if required.

Extending the tutorial to demonstrate this protocol in use should also be included.

The endpoints can by navigating to th

[2020-10-09 06:44] ramesht007 commented on #10
I have read these notebooks and I would say they are sensational. 🙂
You are awesome. @wip-abramson

[2020-10-12 09:57] wip-abramson commented on #10
Wow high praise! It was a team effort but thanks mate,  you are a star for going through them all. Are you interested to join the Identity team calls and work on other issues around this @ramesht007? You would be welcome :)

[2020-10-12 10:06] ramesht007 commented on #10
ya sure @wip-abramson 😀

[2020-10-12 10:11] wip-abramson opened #34 "Research Secure Data Storage"
## What?
Secure data storage is a key component of any SSI or PPML system. Entities need a mechanism to store private and personally identifiable information in a way that can be easily accessed, searched and operated on.

There are many interested secure storage mechanisms under development, this is a research project to explore and understand the current best practice in the space and give a rec

[2020-10-12 10:28] wip-abramson opened #35 "Digital Signing using the ACA-Py"
## What?
ACA-Py is a aries cloudagent developed by BC Gov and includes the capability to generate DIDs (public and private key pairs). What is not immediately clear to me is how we use these agents with the aries-basic-controller to create arbitary digital signatures on information that can be publically verified. And is there a way to publish these signatures indepndently from a DIDComm connectio

[2020-10-12 10:30] #10 closed

[2020-10-12 10:44] wip-abramson opened #36 "Research UI/UX for SSI Applications"
## What?
Currently focus has been on developing credential exchange flows that are functional, but very little work has gone into designing the user experience for this new paradigm digital interaction.

* What does it look like to display a credential that has been cryptographically verified?
* What information does an individual need to be shown to have assurance with the entities they are inter

[2020-10-12 11:29] wip-abramson opened #37 "Mobile SSI Agents Exploration"
## What?
We need to understand the space of open source mobile SSI aries agents. What libraries are available and what state are they in? Can we use any of them to create our own agent today? I know a number of projects in development:

* https://github.com/hyperledger/aries-mobileagent-xamarin which uses the dot-net framework.
* https://github.com/ayanworks/ARNIMA - a React Native project
* https

[2020-10-12 12:00] wip-abramson commented on #2
I think I want to close this @H4LL what do you think?

[2020-10-12 13:43] wip-abramson commented on #37
This is a great discussion about what might be possible in the future - https://www.continuumloop.com/get-digital-wallet-report

[2020-10-13 12:11] lohanspies commented on #18
This is a good start for the test harness.
"Yes. You can look at the Aries Agent Test Harness (https://github.com/hyperledger/aries-agent-test-harness) to test that. But lots of people are using the two together, including the main mobile apps -- Trinsic, esatus and Lissi." - from Stephen in Rocketchat

[2020-10-13 16:20] hwrdtm commented on #31
hi @wip-abramson, I'd be interested to take on this ticket.

[2020-10-14 09:22] wip-abramson commented on #31
Awesome, go for it mate. Let me know if you have any questions. A great place to start is going through the aries-basic-controller tutorial series if you haven't already.

Cheers!

[2020-10-14 18:19] wip-abramson commented on #35
This is very relevant to track https://github.com/hyperledger/aries-cloudagent-python/issues/736

[2020-10-14 18:32] wip-abramson commented on #35
And this - https://github.com/hyperledger/aries-rfcs/tree/master/concepts/0017-attachments

[2020-10-15 15:25] wip-abramson commented on #34
Not that relevant but super interesting. The first paper I believe written on secure data storage for individuals - https://link.springer.com/chapter/10.1007/3-540-48071-4_7

[2020-10-21 18:00] hwrdtm commented on #32
Interested to take this one!

[2020-10-22 17:30] wip-abramson commented on #29
Also this - https://tools.ietf.org/html/rfc5598 Internet Mail similarities

[2020-10-22 18:01] wip-abramson commented on #29
Contrast with Matrix - https://matrix.org/

[2020-10-26 08:46] wip-abramson commented on #30
FYI library moved to hyperledger - https://github.com/hyperledger/aries-vcx

[2020-10-26 09:03] wip-abramson opened #40 "Research Keri - A New Solution for Self-Certifying Identifiers"
## What?
Keri stands for Key Event Receipt Infrastructure that seems promising. It enables the creation of public and private identifiers that do not necessarily have to be rooted to a distributed ledger. It may be more flexible and hence desirable for OM usecases.

Looking for someone to really dive into this, ideally attending this weekly call - https://identity.foundation/working-groups/identif

[2020-10-26 09:29] wip-abramson opened #41 "DIDComm Mediators"
## What?
A DIDComm mediator is used in routing messages between agents. It is not always required, but in situations where recipients are not always online such as mobile phones, a mediator is necessary.

Mediators are starting to get attention within the identity space as DIDComm v2 becomes standardised. It would be great to understand what is out there for us to use either to run our own mediato

[2020-10-26 12:01] wip-abramson commented on #2
I am closing this, we can reopen it later if needed.

[2020-10-26 12:01] #2 closed

[2020-10-26 12:19] wip-abramson commented on #41
https://docs.google.com/document/d/1A5dv5yWE-Brmhh8eU0TNFCun3SemTZ_oxOt5PkQW1LQ/edit

[2020-10-27 14:41] hwrdtm commented on #22
@wip-abramson I'd be interested to work on this one too.

[2020-11-02 10:16] wip-abramson commented on #22
Hey Howard, I will assign you to this. Just reach out if you have any questions, thanks!

[2020-11-02 12:09] #27 closed

[2020-11-02 12:14] wip-abramson opened #43 "Implement Out of Band Attachment Handling"
## Feature Description
The OOB protocol is currently implemented and demonstrated for the exchange of a connection invitation. It should also be possible to issue a credential and request a proof in this OOB manner.

Before this can be implemented the ACA-Py OOB protocol must be extended to handle these pathways at the agent level. We could create a P.R for this ourselves for this capability.

See

[2020-11-02 12:29] wip-abramson opened #44 "Upgrade to use ACA-Py 0.5.6"
## What?
Currently, our tutorials all use aca-py v0.5.1, but the latest is 0.5.6. It would be great to upgrade, check all api endpoints are configured and also to refactor our docker configuration so that upgrading in the future is easier.

## Why?
We should be using the latest version.

## Breakdown
Provide a bulleted or numbered list of how you might break this refactor down into smaller issues.

[2020-11-02 12:29] lohanspies commented on #43
Started with the testing of the OOB attachments [this](https://github.com/OpenMined/PyDentity/tree/feature/oob_attachments) branch. Seems like AcaPy 0.5.6 does not currently support the `credential-offer` and `present-proof` message types

[2020-11-02 23:49] lohanspies commented on #12
This ticket can be closed with the implementation of this commit https://github.com/OpenMined/PyDentity/commit/9f84dc4cb95c9f21dadacb2aa858f7a7233dbcb9

[2020-11-02 23:50] lohanspies commented on #12
Now you can just run `./scripts/get_URLS.sh` from the root folder to get all the notebook URLs with the correct port mapping

[2020-11-05 11:46] wip-abramson commented on #13
This is complete with the recent upgrade to aca-py 0.5.6. We now have a dockerfiles folder containing the generic dockerfiles used by all projects and tutorials rather than replicating Dockerfiles across many different folders.

[2020-11-05 11:46] #13 closed

[2020-11-05 11:50] wip-abramson commented on #16
This would be great to have and would help with testing also. I think the approach should be to create some generic python functions.

* create_connection(controller1, controller2)
* issue_credential(issuer, holder)
* etc...

Then to create some custom config you could define your own python script, that initialises the controllers and calls the helper functions on them as necessary.

Might need s

[2020-11-05 11:51] #44 closed

[2020-11-05 11:52] wip-abramson commented on #12
The get_URLS.sh script is now in master

[2020-11-05 11:52] #12 closed

[2020-11-13 15:46] #32 closed

[2020-11-26 14:11] wip-abramson opened #46 "Add add_listener function to the Basic Controller"
## Description
Currently the only way to configure handlers that listen for specific webhooks from the ACA-Py agent is through the register_listeners function. It would be useful to have an additional method that adds a handler for a single topic to the pubsub.

This should be a straightforward fix.

## Are you interested in working on this improvement yourself?
- Happy to, unless someone else wan

[2020-12-09 17:29] TTitcombe opened #49 "Generalise Shamir Secret Sharing encryption/decryption"
## Description
The notebook demonstrating Shamir Secret Sharing used quick-and-dirty code to en/decrypt the votes. This process should be made more robust and general by turning it into functions which sit outside of notebooks (in `.py` files within the `pryvote` subfolder) and are imported into the notebooks. Unit tests should be added for these functions. Alternatively, use a pre-existing python

[2020-12-09 17:37] TTitcombe opened #50 "Add SSI to PryVote"
## Feature Description
Incorporate SSI from PyDentity to the PryVote notebooks (prioritise Shamir Secret Sharing, as it is the more robust voting protocol), to verify that voters have the right to vote. A voter with incorrect credentials should be included in the notebooks to demonstrate what happens in that scenario.

## Is your feature request related to a problem?
The PryVote notebooks currentl

[2020-12-21 12:56] frogman opened #52 "Package notebook conflicts for: jupyter -> notebook notebook=5.7.8"
## Description
Hi.
During the ./manage start  testing of the aries-basic-controller I came accross an error with the package tools:
Step 6/12 : RUN conda install jupyter notebook=5.7.8
 ---> Running in 36c6eb8c464c
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting pac

[2020-12-21 16:10] frogman commented on #52
Hi guys,

I have changed the notebook version because of the python 3.8 dependency:
/PyDentity/dockerfiles/controllers# ls Dockerfile.basiccontroller
changed the version
#RUN conda install jupyter notebook=5.7.8
RUN conda install jupyter notebook=6.1.5

Installation went trough.

Will look further.

[2021-01-05 18:08] wip-abramson commented on #52
Interesting, thanks for this. Probably we just need to make that change, I imagine 6.1.5 will work with an older version of python

[2021-01-06 11:50] wip-abramson commented on #41
This is now implementable in ACA-Py. We should create a demo using it.

dblum(hyperledger rocket chat):
The general flow for mediation is as follows:
1. Connect to your mediator agent
2. Send a mediation request to the mediator agent (this step will create the mediation id)
3. Mediator sends a grant message (done automatically if using the
--open-mediation flag, otherwise it must be granted throug

[2021-01-06 11:51] wip-abramson commented on #41
There is also a test mediator hosted by Indicio - https://indicio-tech.github.io/mediator/. This could be added to a staging network tutorial

[2021-01-06 16:29] #21 closed

[2021-01-06 16:34] wip-abramson opened #53 "Implement Revocation Example in StagingNet Tutorials"
## Description
The revocation API is now implemented and a tutorial created under the aries-basic-controller folder. In this example the tails server is run locally within a docker contianer. We should create a tutorial that shows how you can use the BCGov hosted tails server. This will also server to test how revocation works on mobile. As the credential will be issued from an ACA-Py agent to a m

[2021-01-06 20:57] frogman commented on #52
Hi Will.
Yes I have tested it would work with older python versions, you can just make that small correction.

Cheers.

Zeljko

[2021-01-06 20:57] #52 closed

[2021-01-17 09:44] devkumar24 commented on #53
Hey @wip-abramson, I'm new to PyDentity, can you tell me from where to get started?

[2021-01-18 12:17] wip-abramson commented on #53
Hey, sure this would be a great issue to get you started. Have you managed to get the tutorials running yet?

[2021-01-18 12:35] devkumar24 commented on #53
Actually, I am new here, so I don't know about tutorials, so It would be great if you manage tutorials.

[2021-01-18 12:44] wip-abramson commented on #53
Great welcome. Please read the Readme in this repo, try to see if you can get the tutorials working just from that information. It will be a good test of whether we are clear or not. There are a number of tutorials I recommend starting with the Getting Started one. You might need to install some things like Docker also. This is covered in the Readme.

Let me know if you run into problems.

[2021-01-18 12:48] devkumar24 commented on #53
Okay, thank you.

[2021-01-19 05:43] devkumar24 commented on #53
Hi @wip-abramson, I have gone through the README.md file "**Spin up the docker-compose configuration ./manage start**". Please tell me what this tell us.

[2021-01-19 09:46] wip-abramson commented on #53
**./manage start** is the command you enter into your terminal (from the correct folder see the item above it). It spins up all the docker containers for the relevant tutorial or project as defined in the docker-compose.yml.

[2021-02-11 20:35] wip-abramson opened #56 "Migrate to ACA-Py v0.6.0"
## Description
ACA-Py recently released version 0.6.0. We should bump to this but it will require some substantial refactor. This is worth it because support multi-wallet functionality.

## Are you interested in working on this improvement yourself?
- No, but I think @lohanspies or @frogman might be able to take this on. Happy to support.

## Additional Context
Add any other context or screenshots

[2021-02-11 20:56] wip-abramson opened #57 "Add Multi-Wallet support to basic controller"
## Feature Description
Multi wallet supports allows a single ACA-Py agent to manage sub wallets on behalf of others. This is a key feature, not everyone will be able to or want to manage their own wallets all the time.

We need to implement the API and write a tutorial that explores these flows. I think this should be a separate folder in tutorials.

See the docs here -
https://github.com/hyperled

[2021-02-15 14:40] wip-abramson opened #58 "Create Builder class for Proof Request"
## Description
The proof request object required by the Swagger-API is a large JSON object specifying the attributes their constraints that a verifier will accept. E.g. attribute x from schema y and issuer did z. Currently, the basic controller provides no support to help the application developer construct these proofs.

The design of a Builder class should be explored and developed to make this

[2021-02-15 14:49] wip-abramson opened #59 "Create helper class/functions for constructing proof"
## Description
The proof object is another complex JSON constructed by searching the storage for credentials that could be used to respond to a particular proof request. The best approach for this might take some experimentation but it should abstract away the complexity of this code from an application developer, providing a friendly API to programmatically construct proofs.

Things to consider i

[2021-02-15 14:58] wip-abramson opened #60 "Create Helper for Parsing a Presentation object"
## Description
A presentation of a proof once received is left to the application to parse, checking it's status and retrieving the presented attributes. Currently, this involves having knowledge of the exact structure of the verification object which adds complexity for an application developer.

We should again abstract this behind some helper class and friendly API.

```verify = await agent_con

[2021-02-15 16:37] #28 closed

[2021-02-16 19:04] wip-abramson commented on #56
0.6.0 Breaking changes https://hackmd.io/pWCJ4fnoR_aTPIoBiNBV_g

[2021-02-17 11:55] lohanspies commented on #60
@wip-abramson do you see this being another helper class inside the https://github.com/OpenMined/PyDentity/blob/master/libs/aries-basic-controller/aries_basic_controller/helpers/ folder or by adding this functionality to https://github.com/OpenMined/PyDentity/blob/master/libs/aries-basic-controller/aries_basic_controller/helpers/utils.py directly?

[2021-02-17 13:11] lohanspies commented on #60
@wip-abramson starting to take a stab at this in this branch https://github.com/OpenMined/PyDentity/tree/issue_60
Have a look and then let us discuss the plan of action, especially around errors and passing back the parsed results.

[2021-02-17 13:14] lohanspies commented on #60
And on another note, don't think it is required to provide parsing for the whole verify object. Rather focus on the obvious and most relevant items.

[2021-02-17 14:25] frogman commented on #60
HI guys,

I guess also the parsed JSON dumps could be also filtered more to allow
easier forwarding in the flow.

On Wed, Feb 17, 2021 at 2:14 PM lohanspies <notifications@github.com> wrote:

[2021-02-17 14:35] wip-abramson commented on #60
Hmm yes, where to put it is an interesting one. Which I am pretty open to ideas on. Helpers could be one place.

I am imagining this being used like:

[code]
Is presentation a good name for it? Not sure.

I think most important parsing is just around accessing the attributes right?

[2021-02-17 14:37] wip-abramson commented on #60
Also definitely not within the utils file. Should be it's own file. I see utils as internal utils for the controller.

[2021-02-17 15:17] lohanspies commented on #60
@wip-abramson the basic implementation is done. needs more work like error checking etc and maybe renaming/moving around the code. check the bottom of https://github.com/OpenMined/PyDentity/blob/issue_60/tutorials/aries-basic-controller/notebooks/alice/Part%2010%20-%20Revocation.ipynb for an example.

Example code of how to use it as per the notebook:
from aries_basic_controller.aries_controller i

[2021-02-17 15:28] wip-abramson commented on #60
Nice looks good!

I think lets call it Presentation. That is what it is on reflection, the basic controllers representation of a presentation.

I think we should throw error's when trying to fetch attributes of an unverified presentation.

It might be good to have a function around revocation. Not sure.

I think it would be good to handle this in a separate notebook aswell, we should test more com

[2021-02-17 15:30] wip-abramson commented on #60
Also, get_identifiers() needs to be a bit more meaningful.

Might it be worth having functions like get_cred_def_ids(), get_schema(). Then on the back of that, is it worth having queries like get_attrs_from_schema(schema_id). and cred_def?

Not sure, there is a lot to unpack here. I think it is something that can evolve as we learn how we want to use it.

[2021-02-17 15:36] lohanspies commented on #60
Agree. Can we make a list of things we know must change now so that I can take a stab at it?
- [ ] Rename to Presentation
- [ ] Throw error on instantiation if verification failed for the presentation
- [ ] Create notebook to explain helper functions
- [ ] Unpack `get_identifiers` and extract into fetching contents of identifiers. i.e. `get_cred_defs`, `get_schema` etc
- [ ] Test with complex proo

[2021-02-17 15:42] wip-abramson opened #61 "Refactor and Tidy Tutorials File Structure"
## What?
The tutorials are getting larger and the naming isn't always clear. I suggest we refactor as follows:

aries-basic-controller folder becomes 1. Learning Aries, ACA-Py and the Basic Controller
aries-staging-net becomes 2. Public ledger's and Mobile Wallet's

Open to suggestions on exact naming.

Additionally I suggest we consider refactoring the aries-basic-controller tutorial to have a su

[2021-02-17 15:43] wip-abramson commented on #60
Not sure about error on instantiation.

I think it should be when accessing the attributes. We might want to instantiate a unsuccessfully verified presentation to interrogate why it failed. Not sure if that information is given but it should be.

[2021-02-17 15:44] wip-abramson commented on #60
Maybe a .from() function to get the connection_id also

[2021-02-18 07:10] lohanspies commented on #60
Hey @wip-abramson have a look at the latest commit for this issue. Let me know what is still outstanding. From the checklist, it is to create a notebook explaining the helper functions and then to test the parser with a more complex presentation request. Can someone maybe pick-up these two tasks? Another task is for you to go over the code and make sure it is acceptable. ;-)

BTW - I am not throwi

[2021-02-18 16:12] wip-abramson opened #63 "Better Release/Versioning for aries-basic-controller"
## Where?
We currently don't really have a process for this. Whenever new features are added to the aries-basic-controller I bump the versioning as needed. We have no process around this and we don't tag releases.

We should explore and develop a much more robust process for releasing new versions.

Who?
This is to make it easier for anyone using our library

[2021-02-18 16:22] wip-abramson commented on #63
This seems a good place to start - https://github.com/OpenMined/PyDentity/releases/new.

Not read up on github releases, or how to link to pip https://pypi.org/project/aries-basic-controller/

[2021-02-18 16:26] #46 closed

[2021-02-18 21:22] wip-abramson commented on #63
We should also tidy up our package.

It would be good to export the AriesAgentController directly from aries-basic-controller. See - https://python-packaging-tutorial.readthedocs.io/en/latest/setup_py.html

Currently it is

[code]

We want

[code]

[2021-02-22 13:38] wip-abramson commented on #63
It would also be good to add a common dockerfile that installs the basic controller package from pip rather than from the files in the repo.

[2021-02-22 14:23] wip-abramson opened #64 "Improve Listener functions"
## Description
We should add a get_listeners() function to the controller. We should also return the list of listeners when registering and perhaps when adding listeners individually?

## Are you interested in working on this improvement yourself?
- No but I think Mortiz might be

[2021-02-23 14:25] wip-abramson opened #65 "Better Response from terminate()"
## Description
Currently the .terminate() function returns None. This is not very useful, lets make it better. Probably a boolean? Not sure, open to ideas.

[2021-02-24 15:16] wip-abramson opened #66 "Require Try Except handling around webhooks"
## Description
Currently if the webhook handler functions the user of this library defines throw an error, this breaks the entire application stack including the agent.

This is bad. Probably the agent should also not break like this, but we can and should handle this in the basic controller by wrapping this in a try, except code block. This is probably something we should look at throughout the c

[2021-02-24 21:06] frogman commented on #65
Hi. Python returns none by default. Should we add 'return self' at the end and make use of it?

[2021-02-26 10:48] wip-abramson commented on #65
Yeah maybe self, I hadn't thought of that. We should definitely return something I feel

[2021-03-02 09:02] morrieinmaas opened #67 "Replace jupyter token authentication with prepared hashed password"
## Description
Change the default token issuing by jupyter with a password as described in the [jupyter docs](https://jupyter-notebook.readthedocs.io/en/latest/public_server.html#preparing-a-hashed-password) in order to enable predictable links. This way Alice's notebook can be linked to Bob's properly and reliably and vice verse.  This also renders running `get_URLS.sh` redundant, and hence impro

[2021-03-03 10:16] morrieinmaas commented on #57
Shall this omit unmanaged mode for now as it isn't functional yet. For reference see [this section in the docs](https://github.com/hyperledger/aries-cloudagent-python/blob/main/Multitenancy.md#unmanaged)?

[2021-03-03 13:30] morrieinmaas commented on #57
I added the required code to expose the multitenancy API, @wip-abramson. I'm happy to write tutorial notebooks as well if you want. Happy for content ideas if you have any.

[2021-03-03 15:37] #56 closed

[2021-03-03 15:52] morrieinmaas commented on #61
Can be extended by adding new tutorials for multitenant and mediation

[2021-03-04 10:24] lohanspies commented on #41
@wip-abramson suggest we close this ticket as `mediators` is already implemented with v0.6.0

[2021-03-08 17:00] wip-abramson opened #71 "Create Tutorial using Postgres Database Wallet"
Currently, all examples use the default wallet storage, an sqlite database.

It would be good to create a docker-compose tutorial setup that experiments with postgres database for wallet storage instead. This is recommended in production use cases.

[2021-03-08 17:18] #57 closed

[2021-03-09 21:18] wip-abramson opened #73 "Add Sub Wallet "Login" to AriesAgentController class"
## Description
Now we have the multitenant API we need to extend the AriesAgentController to be able to speak to the ACA-Py agent as that wallet. ACA-Py creates a JWT Bearer token for each subwallet that must be passed into the API.

We need to be able to set this token in our class. Either through the constructor, or just a getter or probably both.

## Are you interested in working on this improv

[2021-03-18 22:40] morrieinmaas commented on #73
Will be closed by merge request for issue 61

[2021-03-19 18:01] wip-abramson opened #74 "Turn Attachements tutorial into ACA-Py Protocols Tutorial"
## Where?
Currently the attachments tutorial isn't that comprehensive but it actually demonstrates some pretty important features.

* How to extend the AriesAgentController class
* How to write a plugin for ACA-Py
* How to run ACA-Py using a plugin.
* How to use that plugin from a controller

It would be great to get this better reflected in the tutorial.

We should especially aim to teach people

[2021-03-22 16:02] #73 closed

[2021-03-22 16:02] #61 closed

[2021-03-22 16:22] wip-abramson commented on #34
Check out https://memri.io/, they are collaborating with OM

[2021-03-23 15:07] #41 closed

[2021-03-24 12:41] avinsit123 opened #76 "No notebook named aries-stagingnet_issuer-notebook_1 for Tutorial 2"
In `Tutorial 2. Public Ledgers and Mobile Wallets/` we are told to run `aries-stagingnet_issuer-notebook_1` to get the token. However, there are no such notebooks in the folder. Also, the first notebook says that Issuer and Verifier will be taken care of by the  `example/aries-stagingnet` docker environment but I am not able to find this environment anywhere. Am I looking in the wrong location or

[2021-03-24 17:47] wip-abramson commented on #71
Informative thread on this:

https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=7FJ8ks5RQw2J7KBY4

[2021-03-24 18:18] lohanspies commented on #76
Hi @avinsit123, to answer your first question regarding the token, the task is to run the cmd `docker logs aries-stagingnet_issuer-notebook_1` in the terminal to get the docker logs and extract the required token to access the `issuer` notebooks on http://localhost:8888/  and this cmd `docker logs aries-stagingnet_verifier-notebook_1` to get the token to access the `verifier` notebooks on http://l

[2021-03-24 18:23] lohanspies commented on #76
Can you please point me to the exact notebook where you seen the reference to the `example/aries-stagingnet` docker environment?

[2021-03-24 18:26] lohanspies commented on #60
@vineeth14 can you maybe pick this up and complete the two outstanding items?

[2021-03-24 18:56] wip-abramson commented on #76
FYI this is most likely because we recently renamed the folders e.g. aries-stagingnet now called 2. Mobile Agents and ... or something, meaning docker names will have changed. We should check all references to this, including in our readme which I think will be out of date

[2021-03-25 10:22] morrieinmaas commented on #76
I see, I'll change the README accordingly to fit the new tutorial structure

[2021-03-25 13:25] morrieinmaas opened #79 "Create Webhooks listener supporting multiple clients"
## What?
The aries controller agent currently doesn't support multiple listeners for webhooks

## Why?
The new multitenant feature introduced in aca-py v0.6 entails that multiple subwallet holders on the same basewallet controller want to listen to webhooks from a single agent.

## Breakdown
Essentially the pub/sub mechanism should use sockets to broadcast from one webhook handler (server) to mult

[2021-03-25 14:36] #66 closed

[2021-03-25 14:48] wip-abramson commented on #79
This would be awesome to have in before I push the course so thanks for getting cracking!

[2021-03-25 14:50] wip-abramson commented on #63
@morrieinmaas sorry dropping a bunch on messages on your plate.

But after webhooks issue #79 I think we need to target this issue. In that we really ought to push out a new release so may aswell see if we can address this in the process

[2021-03-25 17:05] #76 closed

[2021-03-28 05:42] vineeth14 commented on #60
Hey @lohanspies, I'll have a crack at it

[2021-03-29 16:13] wip-abramson opened #81 "Remove use of WEBHOOK_URL Environment Variable"
## Description
We currently use this in all docker-compose files. This is causing webhooks to be hit twice in the new v0.6.0 ACA-Py

See - https://chat.hyperledger.org/channel/aries-cloudagent-python?msg=aE7GEQ2xAoo9qf4T3

Suggest we just start using ACAPY_WEBHOOK_URL direct in docker-compose and remove webhook-url from the yaml.

Tbh, I am leaning towards using these ACAPY args in the docker-comp

[2021-03-30 10:06] morrieinmaas commented on #79
I've had a go at this and tbh it's not clear to me from the [aca-pu docs](https://github.com/hyperledger/aries-cloudagent-python/blob/main/Multitenancy.md#webhooks) how this is meant to work (at all).

[2021-03-31 11:04] #81 closed

[2021-04-05 06:10] frogman opened #85 "Properly catching POSIX SIGTERM signal - gracefull pod shutdown from python - Kubernetes"
## Description
If we are working towards container implementation (docker, Kubernetes, Openshift etc.) for a good design we would need to create a class that properly kills the PODs, since we want them to be stateless. Python uses here the signal library. Openshift (specially in HA setup) sends the SIGTERM to stop the app/pod/aca-py instance.
We would need to properly catch that signal and gracefu

[2021-04-05 08:11] frogman opened #86 "Aiohttp_security - securing access to AcaPy assets - SSL/HTTPS"
## Question
I was worried about the security in the AcaPy aiohttp instances and asyncio calls with the API endpoints.

## Further Information
Maybe I missed it , but following the aiohttp.clientsession calls from the AcaPy endpoints I could not find any builtin security.
https://aiohttp-security.readthedocs.io/en/latest/usage.html
We could check out the python native aiohttp-security library which

[2021-04-06 12:37] #71 closed

[2021-04-06 12:39] wip-abramson commented on #86
Is this not the API_KEY that can be optionally set? Or is this something extra we need to look into.

[2021-04-06 17:32] frogman commented on #86
Hi @wip-abramson @lohanspies @morrieinmaas
What I was thinking, the default API AcaPy traffic (when started out-of-the box) uses clear text over HTTP OpenAPI REST. From the security point of view , if we expose anywhere the REST API outside of the core system , the communication should not go over unencrypted http channel. Even if we use X-API-Key like @wip-abramson said, it is true that without t

[2021-04-06 17:35] lohanspies commented on #86
@frogman we just need to ensure the REST API is exposed over HTTPS by installing a cert as you mentioned.

[2021-04-06 18:18] #79 closed

[2021-04-14 13:47] wip-abramson opened #88 "Refactor Project to Use the aries-cloudcontroller class"
## Description
The aries-basic-controller library has now been extracted into it's own repo and is being developed under DIDx (@lohanspies ). The aim is to turn this into production ready library with a complete CI/CD pipeline and release strategy etc. Repo is here -https://github.com/didx-xyz/aries-cloudcontroller-python

Currently the aries-basic-controller library still exists in PyDentity and

[2021-04-14 13:50] wip-abramson opened #89 "Replace Agent Congifuration YML files with .env files"
## Description
The yml files are confusing and do not allow for flexible configuration of ACA-Py startup parameters. Defining a .env file for each agent is a preferable solution. We should migrate to this at some point.

I am currently working on a separate template to allow anyone to create a aca-py jupyter notebook playground with a custom set of actors and agents. We should base this refactor o

[2021-04-14 19:19] frogman commented on #89
Hi @wip-abramson I agree that yaml format can confusing. We should also leave a step back here to be able to use yaml in a container solution in the cloud later. Yaml is used as a default format for pods and Co.

[2021-04-14 19:36] morrieinmaas commented on #88
I've addressed this [here](https://github.com/OpenMined/PyDentity/tree/issue_88/aries_controller_from_remote_repo) by adding the did-xyz repo as a subtree.

in order to pull new changes from there one has to
[code]
it is also possible to push changes from here to the parent to a specific branch like so
[code]

TODOs:

- Replace old references to aries_basic_controller with the new aries_cloudcontr

[2021-04-15 10:17] wip-abramson commented on #89
Hmm interesting. I would be interested to have a chat with you about this. See if we can find a best solution. I can also take you through the current process I am thinking of

[2021-04-15 10:19] wip-abramson commented on #88
Dam this is really cool thanks Mo!

Think we should also rename the folder to aries-cloudcontroller.

I also intend to go through all the notebook setups still and start to use the deployed pip package rather than local files for this.

[2021-10-07 12:24] wip-abramson opened #94 "Migrate to Latest Aries Cloud Controller and Playground Structure"
## What?
This is a big task.

Development of the controller progressed through @lohanspies and DIDx. Code is here https://github.com/didx-xyz/aries-cloudcontroller-python
Pip package is here: https://pypi.org/project/aries-cloudcontroller/

I would live to see this repo migrate to use this dependency. Rather than have local version of the controller code within the repo itself (currently libs/arie

[2021-10-07 12:25] wip-abramson commented on #94
Note this includes issues #89 #88

[2021-10-07 12:26] morrieinmaas commented on #94
@wip-abramson I'm happy to contribute.

As the webhook handler no longer lives as part of the controller That will be the biggest part that is actually a re-write in my opinion. The rest is replacing more or less.

[2021-11-01 19:26] aknip opened #95 "Error during startup: `OPENSSL_1_1_1' not found"
I tried to setup the project as described.
It's a clean Ubuntu 20.4.0 machine. The whole installation process had worked fine (no errors)
When I start with  `./manage start` it shows the following error :

[code]
## How to Reproduce
1. Use clean Ubuntu 20.4.0 machine (tested on Desktop an on Server edition)
2. Execute Installation as described in this repo
3. Change to first chapter of tutorial `c

[2021-12-27 17:45] facumontero commented on #95
I'm having the same problem. Could you run the 2nd tutorial? I'm having a problem in the 6 part, running the line:
 response = await agent_controller.wallet.assign_public_did(did_object["did"])

[2022-02-15 17:35] wip-abramson commented on #95
Hey, I will take a loot into this next week.

It seems like some of the dependencies of this project have become out of date.